.slider-paragraph{
    background-color: blue;
    padding: 20px;
    color: white;
}
span{
    margin-top: 50px;
    background-color: black;
    color: white;
}
spam{
    margin-top: 50;
    background-color: brown;
    color:  blue;
}
.bg-img {
    background: url(https://lh3.googleusercontent.com/59ox2d86S-m89eKP5QMObx2b1cqOQS3FwPl1b52UUjXqWmAwCWDcT_7vx_ouuqzhjxaW2Lbjo-o=w1440-ns-nd-rj;)
}
.border{
    border-width: 2px;
    border-style: solid;
}