::selection{
    background: rgb(197, 197, 19);
    color: rgb(24, 23, 23);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(polygon-scatter-haikei\ \(1\).svg);
    background-size: cover;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0px;
    background-color: rgb(24, 23, 23);
    justify-content: end;
}
h2{
    color: rgb(197, 197, 19);
    align-items: center;
    font-size: 30px;
    padding: 0px;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    text-align: left;

}
li{
    list-style: none;
    display: inline-block;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    position: relative;
    cursor: pointer;
    color: rgb(197, 197, 19);
    font-size: 28px;
    padding: 0.5em 1em;
    transition: color 0.25s;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    font-family: Rubik, sans-serif;
}
a:hover{
    color: rgb(24, 23, 23);
    background-color: rgb(197, 197, 19);
    height: 60px;
    width: 100%;
    border-radius: 10px;
}
h1{
    color: #ddd;
    background-color: rgb(24, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
.bordered {
    border: 1px solid black;
    border-collapse: collapse;
}
.bordered th, .bordered td {
    border: 1px solid black;
}
table {
    width: 97%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    opacity: 0.8;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th {
    background-color:rgb(24, 23, 23);
    color: #ddd;
}
.ylli{
    background-color:rgb(197, 197, 19);
    color: rgb(24, 23, 23);
    padding: 10px;
    transition: all 0.4s ease-in-out;
}
.ylli:hover{
    background-color: rgb(197, 197, 19);
    color: rgb(182, 107, 15);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.trepca{
    transition: all 0.4s ease-in-out;
}
.trepca:hover{
    background-color: rgb(11, 111, 11);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.bashkimi{transition: all 0.4s ease-in-out;

}
.bashkimi:hover{
    background-color: rgb(182, 107, 15);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.peja{
    transition: all 0.4s ease-in-out;
}
.peja:hover{
    background-color: rgb(24, 23, 23);
    color: rgb(162, 162, 15);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.prishtina{
    transition: all 0.4s ease-in-out;
}
.prishtina:hover{
    background-color: rgb(17, 17, 153);
    color: #ddd;
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.vellaznimi{
    transition: all 0.4s ease-in-out;
}
.vellaznimi:hover{
    background-color: rgb(191, 16, 16);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.bora{
    transition: all 0.4s ease-in-out;
}
.bora:hover{
    background-color:#ddd;
    color: rgb(17, 17, 153);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.proton{
    transition: all 0.4s ease-in-out;
}
.proton:hover{
    background-color: rgb(24, 23, 23);
    color: #ddd;
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}


  