body{
    background-color:#ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    background-color: rgb(24, 23, 23);
}
li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
a{
    position: relative;
    cursor: pointer;
    color: rgb(197, 197, 19);
    font-size: 28px;
    padding: 0.5em 1em;
    transition: color 0.25s;
    text-decoration: none;
}
a::after{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgb(197, 197, 19);
    transform: scaleX(0);
    z-index: -1;
    transition: transform 0.45s;
    border-radius: 10px;
}
a:hover{
    color: rgb(24, 23, 23);
    background-color: rgb(197, 197, 19);
    height: 60px;
    width: 100%;
}
a:hover::after{
    transform: scaleX(1);
}

h1{
    color: #ddd;
    background-color: rgb(24, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
.bordered {
    border: 1px solid black;
    border-collapse: collapse;
}

.bordered th, .bordered td {
    border: 1px solid black;
}
table {
    width: 97%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
    background-color:rgb(24, 23, 23);
    color: #ddd;
}

.ylli{
    background-color:rgb(197, 197, 19);
    color: rgb(24, 23, 23);
    padding: 10px;
}
.ylli:hover{
    background-color: rgb(197, 197, 19);
    color: rgb(182, 107, 15);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.trepca:hover{
    background-color: rgb(11, 111, 11);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.bashkimi:hover{
    background-color: rgb(182, 107, 15);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.peja:hover{
    background-color: rgb(24, 23, 23);
    color: rgb(162, 162, 15);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.prishtina:hover{
    background-color: rgb(17, 17, 153);
    color: #ddd;
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.vellaznimi:hover{
    background-color: rgb(191, 16, 16);
    color: rgb(24, 23, 23);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.bora:hover{
    background-color:#ddd;
    color: rgb(17, 17, 153);
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}
.proton:hover{
    background-color: rgb(24, 23, 23);
    color: #ddd;
    padding: 10px;
    transform: scale(1.04);
    transition: all ease-in-out 0.4s;
}

  